h1 {
  color: red;
}

.header {
  display: grid;
  justify-content: center;
}

/*
------------------------
data-screen-col_1
------------------------
*/
@media only screen and (min-width: more-than-1-col) {
  .feature__menu[data-screen-col_1~="align-content:center;"] .feature-layout__group {
    align-content: center;
  }
}
/*
------------------------
data-screen-col_2
------------------------
*/
@media only screen and (min-width: more-than-2-col) {
  .feature__menu[data-screen-col_2~="align-content:center;"] .feature-layout__group {
    align-content: center;
  }
}
/*
------------------------
data-screen-col_3
------------------------
*/
@media only screen and (min-width: more-than-3-col) {
  .feature__menu[data-screen-col_3~="align-content:center;"] .feature-layout__group {
    align-content: center;
  }
}
/*
------------------------
data-screen-col_4
------------------------
*/
@media only screen and (min-width: more-than-4-col) {
  .feature__menu[data-screen-col_4~="align-content:center;"] .feature-layout__group {
    align-content: center;
  }
}
/*
------------------------
data-screen-col_5
------------------------
*/
@media only screen and (min-width: more-than-5-col) {
  .feature__menu[data-screen-col_5~="align-content:center;"] .feature-layout__group {
    align-content: center;
  }
}
/*
------------------------
data-screen-col_6
------------------------
*/
@media only screen and (min-width: more-than-6-col) {
  .feature__menu[data-screen-col_6~="align-content:center;"] .feature-layout__group {
    align-content: center;
  }
}
/*
------------------------
data-screen-col_7
------------------------
*/
@media only screen and (min-width: more-than-7-col) {
  .feature__menu[data-screen-col_7~="align-content:center;"] .feature-layout__group {
    align-content: center;
  }
}
/*
------------------------
data-screen-col_8
------------------------
*/
@media only screen and (min-width: more-than-8-col) {
  .feature__menu[data-screen-col_8~="align-content:center;"] .feature-layout__group {
    align-content: center;
  }
}
/*
------------------------
data-screen-col_9
------------------------
*/
@media only screen and (min-width: more-than-9-col) {
  .feature__menu[data-screen-col_9~="align-content:center;"] .feature-layout__group {
    align-content: center;
  }
}
/*
------------------------
data-screen-col_10
------------------------
*/
@media only screen and (min-width: more-than-10-col) {
  .feature__menu[data-screen-col_10~="align-content:center;"] .feature-layout__group {
    align-content: center;
  }
}
/*
------------------------
data-screen-col_11
------------------------
*/
@media only screen and (min-width: more-than-11-col) {
  .feature__menu[data-screen-col_11~="align-content:center;"] .feature-layout__group {
    align-content: center;
  }
}
/*
------------------------
data-screen-col_12
------------------------
*/
@media only screen and (min-width: more-than-12-col) {
  .feature__menu[data-screen-col_12~="align-content:center;"] .feature-layout__group {
    align-content: center;
  }
}

/*# sourceMappingURL=index.css.map */
